<span class="about" th:fragment="about">Über Mich</span>
<a class="flag" th:fragment="flag" href="/en" onclick="changeLanguage('en')"><img alt="EN" src="img/flags/gb.png" /></a>
<span class="subtitle" th:fragment="subtitle">Programmieren trifft Passion</span>
<span class="technologies" th:fragment="technologies">Technologien</span>
<span class="technologiesSub" th:fragment="technologiesSub">Auf dieser Webseite verwendete Technologien</span>
<span class="javaSub" th:fragment="javaSub">Java Sub de</span>
<span class="springBootSub" th:fragment="springBootSub">Spring Boot Sub de</span>
<span class="thymeleafSub" th:fragment="thymeleafSub">Thymeleaf Sub de</span>
<span class="javaScriptSub" th:fragment="javaScriptSub">JavaScript Sub de</span>
<span class="jQuerySub" th:fragment="jQuerySub">jQuery Sub de</span>
<span class="unitySub" th:fragment="unitySub">Unity Sub de</span>
<span class="cSharpSub" th:fragment="cSharpSub">C# Sub de</span>
<span class="projects" th:fragment="projects">Projekte</span>
<span class="projectsSub" th:fragment="projectsSub">Projekte Sub</span>
<span class="brickBreakerSub" th:fragment="brickBreakerSub">BrickBreaker Sub de</span>