<span class="about" th:fragment="about">Über Mich</span>
<a class="flag" th:fragment="flag" href="/en" onclick="changeLanguage('en')"><img alt="EN" src="img/flags/gb.png" /></a>
<span class="subtitle" th:fragment="subtitle">Programmieren trifft Passion</span>
<span class="technologies" th:fragment="technologies">Technologien</span>
<span class="technologiesSub" th:fragment="technologiesSub">Auf dieser Webseite verwendete Technologien</span>
<span class="javaSub" th:fragment="javaSub">Die Sprache, mit welcher ich programmieren lernte. Privat, schulisch und beruflich. Daher wurde Java als Sprache für das Backend gewählt.</span>
<span class="springBootSub" th:fragment="springBootSub">Als Framework für das Backend wählte ich Spring Boot, ebenfalls, weil es mir schulisch beigebracht wurde, sowie professionell anwandte.</span>
<span class="mavenSub" th:fragment="mavenSub">Als Abhängigkeitsverwaltung wird Apache Maven verwendet. Aber ein Wechsel zu Gradle ist absehbar. Ich bevorzuge JSON.</span>
<span class="thymeleafSub" th:fragment="thymeleafSub">Die Templating-Engine, welche benutzt wird, um teile des HTML-Codes auszutauschen, zum beispiel beim Sprachwechsel.</span>
<span class="htmlSub" th:fragment="htmlSub">Selbstverständlich die Sprache, welche zur strukturierung dieser Webseite verwendet wurde.</span>
<span class="cssSub" th:fragment="cssSub">Zum Stylen der Elemente wurde Cascading Style Sheet verwendet.</span>
<span class="bootstrapSub" th:fragment="bootstrapSub">Die CSS-Bibliotek Bootstrap wurde zur Unterstützung für das Styling verwendet.</span>
<span class="fontawesomeSub" th:fragment="fontawesomeSub">Speziell die Icons, welche sich über diesen Texten befinden, stammen aus Fontawesome. Einzeln auch aus selbst hinzugefügten .svg Dateien.</span>
<span class="javaScriptSub" th:fragment="javaScriptSub">Die dynamischen Teile der Webseite werden durch JavaScript Funktionen angepasst. Besonders das ändern der Sprache und das dynamische laden von Inhalten.</span>
<span class="jQuerySub" th:fragment="jQuerySub">Die JavaScript Bibliotek jQuery wurde als Unterstützung bei der dynamischen Anpassung der Seite hinzugezogen. Insbesondere beim absetzen von AJAX Anfragen.</span>
<span class="unitySub" th:fragment="unitySub">Um Diversität und Leidenschaft zu zeigen, habe ich ein kleines Spiel in der Unity Game Engine realisiert. Spielerisch entdeckt der Mensch die Welt.</span>
<span class="cSharpSub" th:fragment="cSharpSub">Als Scripting Sprache für meine Unity Projekte benutze ich C#.</span>
<span class="projects" th:fragment="projects">Projekte</span>
<span class="projectsSub" th:fragment="projectsSub">Projekte Sub</span>
<span class="brickBreakerSub" th:fragment="brickBreakerSub">BrickBreaker Sub de</span>