<span class="about" th:fragment="about">Über Mich</span>
<a class="flag" th:fragment="flag" href="/en" onclick="changeLanguage('en')"><img alt="EN" src="img/flags/gb.png" /></a>
<span class="subtitle" th:fragment="subtitle">Programmieren trifft Passion</span>
<span class="technologies" th:fragment="technologies">Technologien</span>
<span class="technologiesSub" th:fragment="technologiesSub">Auf dieser Webseite verwendete Technologien</span>
<span class="java" th:fragment="java">Java</span>
<span class="javaSub" th:fragment="javaSub">Java Sub de</span>
<span class="springBoot" th:fragment="springBoot">Spring Boot</span>
<span class="springBootSub" th:fragment="springBootSub">Spring Boot Sub de</span>
<span class="thymeleaf" th:fragment="thymeleaf">Tymeleaf</span>
<span class="thymeleafSub" th:fragment="thymeleafSub">Thymeleaf Sub de</span>
<span class="javaScript" th:fragment="javaScript">JavaScript</span>
<span class="javaScriptSub" th:fragment="javaScriptSub">JavaScript Sub de</span>
<span class="jQuery" th:fragment="jQuery">jQuery</span>
<span class="jQuerySub" th:fragment="jQuerySub">jQuery Sub de</span>
<span class="unity" th:fragment="unity">Unity</span>
<span class="unitySub" th:fragment="unitySub">Unity Sub de</span>