<span class="about" th:fragment="about">About Me</span>
<span class="aboutSub" th:fragment="aboutSub">About me Sub en</span>
<a class="flag" th:fragment="flag" href="/de" onclick="changeLanguage('de')"><img alt="DE" src="img/flags/de.png" /></a>
<span class="subtitle" th:fragment="subtitle">Programming meets passion</span>
<span class="technologies" th:fragment="technologies">Technologies</span>
<span class="technologiesSub" th:fragment="technologiesSub">Technologies used on this website</span>
<span class="javaSub" th:fragment="javaSub">The language I learned to program with. Private, in school and professional. Therefore, Java was chosen as the language for the backend.</span>
<span class="springBootSub" th:fragment="springBootSub">I chose Spring Boot as the framework for the backend, also because I was taught it at school and used it professionally.</span>
<span class="mavenSub" th:fragment="mavenSub">Apache Maven is used for dependency management. But a change to Gradle is foreseeable. I prefer JSON.</span>
<span class="thymeleafSub" th:fragment="thymeleafSub">The templating engine, which is used to exchange parts of the HTML code, for example when changing languages.</span>
<span class="htmlSub" th:fragment="htmlSub">Of course, the language used to structure this website.</span>
<span class="cssSub" th:fragment="cssSub">Cascading Style Sheet was used to style the elements.</span>
<span class="bootstrapSub" th:fragment="bootstrapSub">The CSS lybrary Bootstrap was used to support the styling.</span>
<span class="fontawesomeSub" th:fragment="fontawesomeSub">Specifically, the icons that are above these texts are from Fontawesome. Individually also from self-added .svg files.</span>
<span class="javaScriptSub" th:fragment="javaScriptSub">The dynamic parts of the website are adjusted using JavaScript functions. Especially changing the language and loading content dynamically.</span>
<span class="jQuerySub" th:fragment="jQuerySub">The JavaScript library jQuery was used to support the dynamic adjustment of the page. Especially when sending AJAX requests.</span>
<span class="unitySub" th:fragment="unitySub">To show diversity and passion I made a small game in the Unity Game Engine. Man discovers the world in a playful way.</span>
<span class="cSharpSub" th:fragment="cSharpSub">I use C# as the scripting language for my Unity projects.</span>
<span class="projects" th:fragment="projects">Projects</span>
<span class="projectsSub" th:fragment="projectsSub">Projects Sub</span>
<span class="brickBreakerSub" th:fragment="brickBreakerSub">BrickBreaker Sub en</span>