<span class="about" th:fragment="about">About Me</span>
<a class="flag" th:fragment="flag" href="/de" onclick="changeLanguage('de')"><img alt="DE" src="img/flags/de.png" /></a>
<span class="subtitle" th:fragment="subtitle">Programming meets passion</span>
<span class="technologies" th:fragment="technologies">Technologies</span>
<span class="technologiesSub" th:fragment="technologiesSub">Technologies used on this website</span>
<span class="javaSub" th:fragment="javaSub">Java Sub en</span>
<span class="springBootSub" th:fragment="springBootSub">Spring Boot Sub en</span>
<span class="thymeleafSub" th:fragment="thymeleafSub">Thymeleaf Sub en</span>
<span class="javaScriptSub" th:fragment="javaScriptSub">JavaScript Sub en</span>
<span class="jQuerySub" th:fragment="jQuerySub">jQuery Sub en</span>
<span class="unitySub" th:fragment="unitySub">Unity Sub en</span>
<span class="cSharpSub" th:fragment="cSharpSub">C# Sub en</span>
<span class="projects" th:fragment="projects">Projects</span>
<span class="projectsSub" th:fragment="projectsSub">Projects Sub</span>
<span class="brickBreakerSub" th:fragment="brickBreakerSub">BrickBreaker Sub en</span>