<span class="about" th:fragment="about">About Me</span>
<a class="flag" th:fragment="flag" href="/de" onclick="changeLanguage('de')"><img alt="DE" src="img/flags/de.png" /></a>
<span class="subtitle" th:fragment="subtitle">Programming meets passion</span>
<span class="technologies" th:fragment="technologies">Technologies</span>
<span class="technologiesSub" th:fragment="technologiesSub">Technologies used on this website</span>
<span class="java" th:fragment="java">Java</span>
<span class="javaSub" th:fragment="javaSub">Java Sub en</span>
<span class="springBoot" th:fragment="springBoot">Spring Boot</span>
<span class="springBootSub" th:fragment="springBootSub">Spring Boot Sub en</span>
<span class="thymeleaf" th:fragment="thymeleaf">Tymeleaf</span>
<span class="thymeleafSub" th:fragment="thymeleafSub">Thymeleaf Sub en</span>
<span class="javaScript" th:fragment="javaScript">JavaScript</span>
<span class="javaScriptSub" th:fragment="javaScriptSub">JavaScript Sub en</span>
<span class="jQuery" th:fragment="jQuery">jQuery</span>
<span class="jQuerySub" th:fragment="jQuerySub">jQuery Sub en</span>
<span class="unity" th:fragment="unity">Unity</span>
<span class="unitySub" th:fragment="unitySub">Unity Sub en</span>